:host {
  .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    &__title {
      font-size: 20px;
      color: #fff;
      margin-left: 10px;
      margin-bottom: 0;
    }
    &__subtitle {
      font-size: 16px;
      color: #fff;
      margin-left: 10px;
    }
  }
}
