:host {
  .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    img {
      height: 60px;
      width: 60px;
    }
    &__title {
      font-size: 20px;
      color: #fff;
      margin-left: 10px;
      margin-bottom: 0;
    }
    &__subtitle {
      font-size: 16px;
      color: #fff;
      margin-left: 10px;
    }
    &.is-small {
      img {
        height: 35px;
        width: 35px;
      }
      .logo__title {
        font-size: 18px;
        margin-left: 5px;
        margin-bottom: 0;
      }
    }
  }
}
