.content-align-right {
  text-align: right;
}

.is-flex {
  display: flex;
}

.is-justify-content-space-between {
  justify-content: space-between;
}

.is-align-items-center {
  align-items: center;
}

.is-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
