.content-align-right {
  text-align: right;
}

.is-flex {
  display: flex !important;
}

.is-flex-direction-row-reverse {
  flex-direction: row-reverse !important;
}

.is-justify-content-space-between {
  justify-content: space-between;
}

.is-align-items-center {
  align-items: center;
}

.is-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-auto {
  height: auto;
}

.px-1 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.px-2 {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.py-1 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.py-2 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.cb-color {
  color: rgb(157, 155, 149) !important;
}

.cb-bg-color {
  background-color: rgb(41, 63, 80) !important;
}

.width-250 {
  width: 250px;
}
