mat-toolbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
  max-width: none !important;
}

mat-header-row {
  background: #e5e5e5 !important;
}

mat-header-cell, mat-header-row, .mat-header-cell-def {
  font-weight: bold !important;
}
