<nav class="navigation is-flex">
  <ng-container *ngFor="let path of paths">
    <ng-container *ngIf="path.menuItems?.length; else isMenuItem">
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        class="is-flex is-flex-direction-row-reverse"
      >
        {{ path.name | translate }} <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <ng-container *ngFor="let menuItem of path.menuItems">
          <a
            class="navigation__item"
            mat-menu-item
            [routerLink]="menuItem.path"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ menuItem.name | translate }}
          </a>
        </ng-container>
      </mat-menu>
    </ng-container>
    <ng-template #isMenuItem>
      <a
        class="navigation__item"
        mat-button
        [routerLink]="path.path"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ path.name | translate }}
      </a>
    </ng-template>
  </ng-container>

  <button
    mat-button
    [matMenuTriggerFor]="currentUser"
    class="is-flex is-flex-direction-row-reverse"
  >
    {{ (userClaims$ | async)?.bankId }}
    ({{ (userClaims$ | async)?.fullName }})
    <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #currentUser="matMenu" xPosition="before">
    <a
      mat-menu-item
      class="navigation__item"
      (click)="logout()"
    >
      {{ "LogOut" | translate }}
    </a>
  </mat-menu>
</nav>
