<div class="page">
  <h2 class="page__title fz-2 my-2">
    {{ "FinancialSummaryData" | translate }}
  </h2>

  <div class="table__page">
    <mat-table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="dealId">
        <mat-header-cell *matHeaderCellDef>
          {{ "No." | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tableRow">
            <div class="tableRow__header">
              {{ element.dealId }}
            </div>
          </div>
        </mat-cell>
      </ng-container>

      <!-- matSort -->
      <!-- (matSortChange)="announceSortChange($event)" -->
      <!-- Report name Column -->
      <ng-container matColumnDef="isocode">
        <mat-header-cell *matHeaderCellDef>
          <!-- mat-sort-header
          sortActionDescription="Sort by Report name" -->
          {{ "CurrencyISOCode" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tableRow">
            <div class="tableRow__header">
              {{ element.isocode | translate }}
            </div>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalVolume">
        <mat-header-cell *matHeaderCellDef>
          {{ "TotalVolume" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tableRow">
            <div class="tableRow__header">
              {{ element.totalVolume }}
            </div>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="averageRate">
        <mat-header-cell *matHeaderCellDef>
          {{ "AverageRate" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tableRow">
            <div class="tableRow__header">
              {{ element.averageRate }}
            </div>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dealType">
        <mat-header-cell *matHeaderCellDef>
          {{ "SummaryDealType" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tableRow">
            <div class="tableRow__header">
              {{ element.dealType | translate }}
            </div>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="calculationDate">
        <mat-header-cell *matHeaderCellDef>
          {{ "Date" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tableRow">
            <div class="tableRow__header">
              {{ element.calculationDate | date : "dd/MM/yyyy" }}
            </div>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
      #paginator
      (page)="onPageEvent($event)"
      [length]="totalData"
      [pageSizeOptions]="pageSizes"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
