<div class="page">
  <h2 class="page__title fz-2 my-2">
    {{ "FinancialSummaryData" | translate }}
  </h2>

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
  >
    <!-- Position -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <!-- Currency ISO code -->
    <ng-container matColumnDef="iso">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by currency ISO code"
      >
        Currency ISO code
      </th>
      <td mat-cell *matCellDef="let element">{{ element.iso }}</td>
    </ng-container>

    <!-- Total volume -->
    <ng-container matColumnDef="totalVolume">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by total volume"
      >
        Total volume
      </th>
      <td mat-cell *matCellDef="let element">{{ element.totalVolume }}</td>
    </ng-container>

    <!-- Weighted average exchange rate -->
    <ng-container matColumnDef="weightedAverageExchangeRate">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by weighted average exchange rate"
      >
        Weighted average exchange rate
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.weightedAverageExchangeRate }}
      </td>
    </ng-container>

    <!-- Transaction Form -->
    <ng-container matColumnDef="transactionForm">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by weighted average exchange rate"
      >
        Transaction form
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.transactionForm }}
      </td>
    </ng-container>

    <!-- Date/Time -->
    <ng-container matColumnDef="dateTime">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by Date/Time"
      >
        Date/Time
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.dateTime }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 20, 50, 100]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
