<footer class="footer cb-bg-color cb-color px-2">
  <div class="footer__contacts is-flex is-justify-content-flex-end">
    <div
      class="footer__contact is-flex is-flex-direction-column is-align-items-center"
    >
      <h3>{{ "Telephone" | translate }}</h3>
      <a href="tel:37410592592">(374-10) 592 592</a>
    </div>
    <div
      class="footer__contact is-flex is-flex-direction-column is-align-items-center"
    >
      <h3>{{ "PostalAddress" | translate }}</h3>

      <p>Central Bank of Armenia</p>

      <p>Vazgen Sargsyan str.6</p>
    </div>
    <div
      class="footer__contact is-flex is-flex-direction-column is-align-items-center"
    >
      <h3>{{ "Email" | translate }}</h3>
      <a href="mailto:secretariat@cba.am">secretariat@cba.am</a>
    </div>
  </div>
  <!-- <p class="copyright">
    Copyright © <span>{{ currentYear }}</span> CBA.
  </p> -->
</footer>
