<footer class="footer cb-bg-color cb-color px-2">
  <div class="footer__contacts is-flex is-justify-content-flex-end">
    <div
      class="footer__contact is-flex is-flex-direction-column is-align-items-center"
    >
      <h4>{{ "Telephone" | translate }}</h4>
      <a href="tel:37410592592">(374-10) 592 592</a>
    </div>
    <div
      class="footer__contact is-flex is-flex-direction-column is-align-items-center"
    >
      <h4>{{ "PostalAddress" | translate }}</h4>
      <p>{{ "StreetName" | translate }}</p>
    </div>
    <div
      class="footer__contact is-flex is-flex-direction-column is-align-items-center"
    >
      <h4>{{ "Email" | translate }}</h4>
      <a href="mailto:secretariat@cba.am">secretariat@cba.am</a>
    </div>
  </div>
</footer>
