:host {
  width: 100%;
  position: fixed;
  bottom: 0;
  .footer {
    &__contacts {
    }
    &__contact {
      margin: 2px 0;
      h3 {
        margin-bottom: 10px;
        border-bottom: 1px solid currentColor;
      }
      a {
        color: rgb(157, 155, 149);
        text-decoration: none;
      }
      *:not(h3) {
        margin-bottom: 0;
      }
    }
  }
}
