.success-snackbar .mdc-snackbar__surface {
  background-color: #4caf50 !important;
}

.error-snackbar .mdc-snackbar__surface {
  background-color: #ff5252 !important;
}

.warning-snackbar .mdc-snackbar__surface {
  background-color: #fb8c00 !important;
}
