body {
  .table__page {
    width: 100%;
    overflow-x: auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    .mat-mdc-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
    }
    .mat-mdc-row,
    .mat-mdc-header-row {
      display: table-row;
    }
    .mat-mdc-cell,
    .mat-mdc-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
    }
  }
}
