/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: whitesmoke;
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "sass/common";
@import "sass/variables";
@import "sass/core/main";
@import "sass/override";
