<div class="loginPage">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ "Login" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>{{ "Username" | translate }}</mat-label>
          <input matInput formControlName="username" />
          <mat-error
            *ngIf="
              controls.username.invalid && (controls.username.touched || submitted)
            "
            >{{
              controls.username.errors
                | getFirstError : "username" : validationMessages
                | translate
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "Password" | translate }}</mat-label>
          <input
            matInput
            [type]="showPassword ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="toggleShowPassword()"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="showPassword"
            type="button"
          >
            <mat-icon>{{
              showPassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              controls.password.invalid &&
              (controls.password.touched || submitted)
            "
            >{{
              controls.password.errors
                | getFirstError : "password" : validationMessages
                | translate
            }}</mat-error
          >
        </mat-form-field>
        <div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="onSubmit()"
          >
            {{ "Login" | translate }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
