:host {
  mat-card {
    width: 400px;
    margin: auto;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  div:has(> button[type="submit"]) {
    text-align: right;
    margin-top: 30px;
  }
}
